<configuration>
	<dllmap dll="libfreerdp-core" os="osx" target="/usr/local/lib/libfreerdp-core.dylib" />
	<dllmap dll="libfreerdp-codec" os="osx" target="/usr/local/lib/libfreerdp-codec.dylib" />
	<dllmap dll="libfreerdp-locale" os="osx" target="/usr/local/lib/libfreerdp-locale.dylib" />
</configuration>
